* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(231, 231, 231);
}

header {
    height: 100px;
    width: 100%;
    background-color: cadetblue;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*Horizontal align*/
    align-items: center; /*Vertical align*/
    position: fixed;
    font-size: 1em; /*Adaptable Size*/
    z-index: 1; /*Depth*/
    transition: all .3s; /*Time to complete the effect of JS*/

}

header h1 {
    font-size: 25px;
    margin: 0px;
    padding: 32px 20px;
    text-transform: uppercase;
    text-align: center; /*Text align*/
}

header h3 {
    font-size: 20px;
    margin: 0px;
    padding: 34px 0px;
    padding-right: 30px;
    text-transform: uppercase;
    text-align: center; /*Text align*/
}

.menuIcon {
    position: fixed;
    padding: 30px 60px;
    top: 0px;
    text-align: end;
}

.menuIcon button {
    padding: 0;
    color: white;
    border: none;
    background: none;
}

main {
    padding: 100px 0px 0px 0px;
    overflow: hidden;
}

.firstTopic {
    height: 300px;
    width: 90%;
    max-width: 100%;
    margin-top: 15px;
    background-color: rgb(135, 174, 175);
    color: black;
    display: fixed;
    align-items: center;
    text-align: left;
    box-shadow: 5px 5px 15px black;
    border-radius: 8px;
}

.firstTopic img {
    float: left;
    border-radius: 8px;
}
.firstTitle {
    font-family: 'Times New Roman', Georgia, Times, serif;
    padding-top: 20px;
}

.secondTopic {
    height: 300px;
    width: 90%;
    max-width: 100%;
    margin-top: 20px;
    background-color: rgb(135, 174, 175);
    color: black;
    display: fixed;
    align-items: center;
    box-shadow: -5px 5px 15px black;
    border-radius: 8px;
}

.secondTopic img {
    position: relative;
    float: right;
    border-radius: 8px;
    left: 1px;
}
.secondTitle {
    font-family: 'Times New Roman', Georgia, Times, serif;
    padding-top: 20px;
    padding-left: 20px;
}
.secondDesc {
    padding-left: 20px;
}

footer {
    height: 40px;
    width: 100%;
    background-color: rgb(49, 49, 49);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.options {
    height: 290px;
    width: 90%;
    max-width: 100%;
    margin-top: 30px;
    border-radius: 12px;
}

.card {
    margin: 20px auto;
    width: 250px;
    height: 250px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    color: rgb(204, 204, 204);
}
  
.cardImage {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}
  
.cardImage img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}
  
.cardTitle {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}
  
.card:hover {
    transform: scale(0.9, 0.9); 
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.lastCard {
    margin-bottom: 50px;
}


@media only screen and (max-width: 800px) {
    .menuDesk {
        display: none;
    }
    .descDesk{
        display: none;
    }
    header {
        display: inline;
    }
    header h1{
        text-align: left;
    }
    .firstTopic{
        height: 200px;
    }
    .firstTopic img{
        width: 150px;
        height: 200px;
        position: relative;
        right: 20px;
    }
    .firstTitle {
        padding-left: 160px;
    }
    .secondTopic{
        height: 200px;
    }
    .secondTopic img{
        width: 150px;
        height: 200px;
        position: relative;
        left: 20px;
    }
    .secondTitle {
        padding-left: 10px;
    }
    .secondDesc {
        padding-left: 10px;
    }
}

@media only screen and (min-width: 800px) {
    .menuMob{
        display: none;
    }
    .descMob{
        display: none;
    }
    .firstTitle {
        padding-left: 320px;
    }
    .firstDesc {
        padding-left: 320px;
    }
}